<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>追剧</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
</head>
<body>

<table class="table">
    <thead>
    <tr>
        <th>序号</th>
        <th>名称</th>
        <th>最新</th>
        <th>时间</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="records" type="java.util.ArrayList<com.heiliuer.youku.entity.Record>"*/-->
    <tr th:each="record ,iterStat :${records}">
        <th scope="row" th:text="${iterStat.count}">1</th>

        <td th:text="${record.name}">Onions</td>
        　　
        <td th:text="${record.episodeLast}">yes</td>

        <!--/*@thymesVar id="mydate" type="com.heiliuer.config.MyDate"*/-->
        <td th:text="${#dates.format(mydate.getDate(record.latestCheckTime),'yy-MM-dd hh:mm')}">yes</td>
    </tr>
    </tbody>
</table>

</body>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</html>