<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>test</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>

<div id="app"></div>
<script type="text/html" id="appTmpl">
    <div class="container">


        <div class="page-header" style="display: none">
            <h1>test
                <small>beta</small>
            </h1>
        </div>

        <nav class="navbar navbar-default" style="margin-top: 20px">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">实验台预约系统</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li :class="{'active':index==tabs.cur}"
                            @click="tabs.cur=index"
                            v-for="(tab,index) in tabs.data">
                            <a href="#">{{tab}}</a>
                        </li>
                        <li class="dropdown" style="display: none;">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="alert alert-success" role="alert">
            <a href="/cha-xun" class="alert-link">旧版首页</a>
        </div>

        <ol class="breadcrumb">
            <li><a href="javascript:void(0)">主页</a></li>
            <li class="active" v-text="tabs.data[tabs.cur]">预约</li>
        </ol>


        <div v-show="tabs.cur==0">
            <div class="row">

                <div class="col-md-3">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputTable" class="col-sm-5 control-label text-left">实验台</label>
                            <div class="col-sm-7">
                                <select class="form-control" id="inputTable" v-model="table">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-4">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputdate" class="col-sm-4 control-label">预约日期</label>
                            <div class="col-sm-8">
                                <input type="date" v-model="date"
                                       :min="DATE_MIN"
                                       class="form-control" id="inputdate" placeholder="Email">
                            </div>
                        </div>
                    </form>
                </div>

            </div>


            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default" v-for="num in 7">

                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" :href="'#collapseOne'+num"
                               aria-expanded="true" aria-controls="collapseOne">
                                {{new Date(dateTime+1000*3600*24*(num-1)).formatDate('yyyy-MM-dd')}}
                            </a>
                        </h4>
                    </div>

                    <div :id="'collapseOne'+num" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">

                            <table class="table table-bordered">
                                <tr v-for="rowNum in Math.ceil(types.length/4)">
                                    <td
                                            :class="{'disable':dateYuyue[new Date(dateTime+1000*3600*24*(num-1)).formatDate('yyyy-MM-dd')][4*(rowNum-1)+colNum-1]}"
                                            @click="yuyue(new Date(dateTime+1000*3600*24*(num-1)).formatDate('yyyy-MM-dd'),4*(rowNum-1)+colNum-1,$event)"
                                            v-for="colNum in 4"
                                            v-if="(4*(rowNum-1)+colNum-1)<types.length">
                                        {{types[4*(rowNum-1)+colNum-1]}}
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>

            </div>

            <div id="loginModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
                 aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="gridSystemModalLabel">登录</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">

                                    <form class="form-horizontal" @submit.prevent="login">
                                        <div class="form-group">
                                            <label for="username" class="col-sm-3 control-label">账户</label>
                                            <div class="col-sm-9">
                                                <input type="text" required="required" name="employeeNumber"
                                                       class="form-control"
                                                       id="username" placeholder="如：201401411">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="password" class="col-sm-3 control-label">密码</label>
                                            <div class="col-sm-9">
                                                <input type="password" required="required" class="form-control"
                                                       id="password"
                                                       placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="loginkeeping" id="loginkeeping"
                                                               value="loginkeeping"/> 自动登陆
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-default">登陆</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div v-show="tabs.cur==1" class="row">
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item" v-for="n in 20">
                        <span class="pull-right" @click="cancelTable($event)">取消预约</span>
                        2017-05-10 20:00-22:00 {{n}}
                    </li>
                </ul>
            </div>
        </div>

    </div>
</script>

</div>

<style>
    .list-group-item > span {
        color: #7b0000;
        cursor: pointer;
    }

    .list-group-item > span:hover {
        text-decoration: underline;
    }

    .table.table-bordered td {
        padding: 10px;
        text-align: center;
        cursor: pointer;
        transition-duration: 1s;
    }

    .table.table-bordered td.disable {
        background-color: #f74343;
        color: #fff;
    }
</style>
<script src="js/vue.js"></script>
<script src="js/jquery.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="js/index.js"></script>
</body>
</html>